/* #region Начало вспомогательных классов */

.shadow-text {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

/* #endregion Конец вспомогательных классов  */

/* #region Начало глобальных компонентов */

.page {
  color: var(--text-color, #f1b2ce);
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--page-background-color, #000028);
  background-image: var(
    --page-background-image,
    url("../images/cover-image.png")
  );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.cover {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
}

.decorated-area {
  position: relative;
}

.decorated-area::before,
.decorated-area::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-area::before {
  border-inline-end: 1px solid var(--secondary-color, #ff0070);
  border-block-start: 1px solid var(--secondary-color, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-area::after {
  border-inline-start: 1px solid var(--secondary-color, #ff0070);
  border-block-end: 1px solid var(--secondary-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.record-icon {
  position: absolute;
  z-index: -1;
  visibility: var(--rec-decor-visibility, visible);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.record-icon::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
}

.record-icon::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.page-title {
  color: var(--brand-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.title {
  color: var(--secondary-color, #ff0070);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.title-decorated {
  color: var(--highlight-color, #000028);
  background: var(--accent-color, #ff0070);
}

.section {
  display: grid;
  gap: 20px;
}

.section-gallery {
  gap: 10px;
}

.section-how-title {
  margin-block-end: 20px;
}

.articles-list {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.gallery-list {
  display: grid;
  gap: 10px;
}

.gallery-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

/* #endregion Конец глобальных компонентов */

/* #region Начало блока header */

.header {
  align-items: start;
}

.theme-menu {
  justify-self: end;
  margin-block: 65px;
}

.theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--secondary-color, #ff0070);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.theme-menu-button-active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.theme-menu-button:hover {
  border-color: var(--secondary-color-o-40, #ff007040);
}

.theme-menu-button:focus {
  outline: 0;
}

.theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.header-title {
  margin-block: 55px;
  color: var(--highlight-color, #000028);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  background: var(--accent-color, #ff0070);
}

/* #endregion Конец блока header */

/* #region Начало блока main */

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

/* #endregion Конец блока main */

/* #region Начало блока footer */

.footer {
  place-items: center;
}

/* #endregion Конец блока footer */

@media (width >= 768px) {
  .record-icon {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .page-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .section-what-articles {
    grid-column-start: span 2;
  }

  .section-gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-how-articles {
    grid-column-start: 2;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-item:first-child,
  .gallery-item:last-child {
    grid-column-start: span 2;
  }

  .gallery-item:nth-child(2),
  .gallery-item:nth-child(3) {
    grid-row-start: span 2;
  }

  .header {
    padding-inline-start: 0;
  }

  .theme-menu {
    margin-block-start: 170px;
    margin-block-end: 70px;
  }

  .header-title {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }
}

@media (width >= 1024px) {
  .page-title {
    text-shadow: 4px 4px 0 var(--color-purple-2, #ff0070);
  }

  .section {
    column-gap: 30px;
  }

  .section-what-articles {
    grid-template-columns: repeat(3, 1fr);
  }

  .theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }

  .theme-menu-list {
    flex-direction: row;
  }
}
